KANJI_HOST=127.0.0.1
KANJI_PORT=8787
KANJI_DATA_DIR=./data
KANJI_ALLOWED_ORIGINS=http://127.0.0.1:8793,http://localhost:8793,https://aslanakarzhaubay-source.github.io
KANJI_MAX_JSON_BYTES=1500000
KANJI_MAX_AVATAR_BYTES=1000000
KANJI_RATE_LIMIT_WINDOW_MS=60000
KANJI_RATE_LIMIT_MAX=180
